
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Accueil</li>
    </ol>
</nav>

<div class="card" style="width: 30rem;">
    <div class="card-body">
        <h5 class="card-title">Abonnées : @ViewBag.nbFollower</h5>
        <h5 class="card-title">Abonnement : @ViewBag.nbFollow</h5>
    </div>
</div>
<br>
<br>
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th colspan="3" scope="col">Message(s)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var messages in ViewBag.messagesFollow)
        {
            <tr>
                <th width="20%" scope="row">@messages.OwnerPseudo</th>
                <td width="30%">@messages.PostDate</td>
                <td width="50%">@messages.Content</td>
            </tr>
        }
    </tbody>
</table>
